<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">投稿編集</h5>
        <div class="form-body p-4">
        <%= form_with model: @post do |f| %>
          <%= f.file_field :image, accept: "image/*", class: "w-100" %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"></span>
            </div>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <%= f.text_area :body, class: "form-control", rows: "3" %>
          <br>

          <h4>ペット情報</h4>
          <div class="checkbox">
            <%= collection_check_boxes(:pets, :pet_ids, current_user.pets, :id, :name) do |b| %>
              <%= b.label { b.check_box + b.text } %>
            <% end %><br>

            <!-- <h4>タグ</h4>
            <%= f.label "Tag" %>
            <%= f.text_field :tag_name %> -->
            
            <%= f.submit '更新', class: "btn btn-info" %>
            <% end %>
          </div>
    </div>
  </div>
</div>