<div class="text-center mt-4">
  <%= form_tag posts_path, method: :get do %>
    <% ["犬","猫","その他"].each do |category| %>
    <%= check_box_tag "categories[]", category, params[:categories]&.include?(category) %>
    <%= label_tag "categories_#{category}", category %>
  <% end %>
    <%= submit_tag "絞り込み",name: nil %>
  <% end %>
</div>

<div class="card-list-container py-5">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-6">
        <div class="card mx-auto mt-4 shadow-lg">
          <div class="card-body">
            <%= link_to post_path(post.id) do %>
              <%= image_tag post.image, class: "card-img-top mb-2"; %>
            <% end %>
            <div class="row">
              <div class="thumbnail-box col-4">
                <%= image_tag post.user.get_profile_image(100,100), class: "mt-1 rounded-circle"; %>
              </div>
              <div class="col-8">
                <p class="card-title">
                  <%= link_to(post_path(post.id), class: "text-dark") do %>
                    <strong><i class="far fa-flag"></i><span class="card-body"> <%= truncate(post.title, length: 12) %></span></strong>
                  <% end %>
                </p>
                <p class="card-text">本文：<%= truncate(post.body, length: 12) %></p>
                <span><i class="fas fa-user"></i> By <%= post.user.name %> ｜ </span>
                <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
                <p><%= link_to "#{post.favorites.count} いいね", post_path(post.id) %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @posts %>