<h2>タイトル</h2>
<p><%= @post.title %></p>

<h2>本文</h2>
<p><%= @post.body %></p>

<h2>画像</h2>
   <%= image_tag @post.image, size: "300x300" %>

<h2>ユーザーネーム</h2>
<p><%= @post.user.name %></p>

<h2>ペット情報</h2>
<% @post.pets.each do |pet| %>
 <P><%= link_to pet.name, pet_path(pet.id) %></p>

 <% pet.id %>
 <p> <%= image_tag pet.image, size: "100x100" %></p>
<% end %>

<h2>投稿日</h2>
  <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>

<% if @post.user == current_user %>
 <%= link_to "編集", edit_post_path(@post.id) %>
 <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>

  <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorite_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorite_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>

<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@post, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>