<div>
  <h3>
  <% if current_user.id == @user.id %>
    <%= link_to @user.name, edit_user_path %>のマイページ
  <% else %>
    <%= @user.name %>のマイページ
  <% end %>
  </h3>
  <%= link_to @user.name, user_pets_path(@user.id) %>のペット
        <div class="col-7">
          <%= image_tag @user.get_profile_image(200,200), class: "mt-7"; %>
        </div>
</div>

  <div class="post-wrap">
<% @posts.each do |post| %>
  <div class="post-box">
      <%= image_tag post.image, size: "200x200" %>
    <div class="post-comment">
      <span class="post-body"><%= post.body %></span>
      <span class="post-title"><%=link_to post.title, post_path(post.id) %></span>
    </div>
  </div>
<% end %>