<div>
  <h3>
  <% if current_user.id == @user.id %>
    <%= link_to @user.name, edit_user_path %>のマイページ
  <% else %>
    <%= @user.name %>のプロフィール
  <% end %>
  </h3>


  <div class="container">
    <div class="row"> 

      <div class="col-lg-3" style="background-color: #ffd4d1;">
       <h4>プロフィール</h4>
        <%= image_tag @user.get_profile_image(200,200), class: "mt-7"; %><br>
        <% if current_user.id == @user.id %>
        <%= link_to "ペット登録はこちら", new_pet_path %>
      <% else %>
        <%= @user.name %>のペット
      <% end %>
        <% @pets.each do |pet| %>
        <span>
         <%= image_tag pet.image, size: "200x200" %>
        </span><br>
        <span>
         <%= link_to pet.name, pet_path(pet.id) %>
        </span><br>
        <% end %>
      </div>

      <div class="col-lg-9" style="background-color: #bcdfff;">
      <h4><%= @user.name %>の投稿一覧</h4>
        <div class="post-wrap">
         <% @posts.each do |post| %>
           <div class="post-box">
             <%= image_tag post.image, size: "200x200" %>
               <div class="post-comment">
                <span class="post-body"><%= post.body %></span>
                <span class="post-title"><%=link_to post.title, post_path(post.id) %></span>
               </div>
           </div>
        <% end %>
      </div>
  </div> 
</div> 
