<div>
  <h3><%= @user.name %>のマイページ</h3>                   <%# ユーザーの名前クリックしたら編集できるようにしたい。名前とパスワード、メールアドレス等。退会もこのリンクにつくりたい %>

  <%= link_to "MYペット", pets_path %>
</div>

<% @profile_images.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <%= image_tag profile_image.get_image %>
    <h2>タイトル</h2>
    <p><%= @post.title %></p>

    <h2>本文</h2>
    <p><%= @post.body %></p>

    <h2>画像</h2>
       <%= image_tag @profile_image.user, size: "300x300" %>

    <h2>ユーザーネーム</h2>
    <p><%= @post.user.name %></p>

    <h2>投稿日</h2>
      <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>

   <% if @post.user == current_user %>
    <%= link_to "編集", edit_post_path(@post.id) %>
    <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
   <% end %>
    <% end %>
  
  <p>ユーザーネーム：<%= post.user.name %></p>
<% end %>