<h1>ペット登録</h1>

<% if @pet.errors.any? %>
  <%= @pet.errors.count %>件のエラーが発生しました
  <ul>
    <% @pet.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with  model: @pet, method: :post do |f| %>

  <h4>写真</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <h4>名前</h4>
  <%= f.text_field :name %>
	
  <h4>種類</h4>
  <%= f.number_field :kind, in: 1..4 %>
  
  <h4>誕生日</h4>
  <%= f.date_field :birthday %>

  <h4>性別</h4>
   <div>
      <%= f.radio_button :sex, true %>
      <%= f.label :sex, 'オス♂', value: true %>
      <%= f.radio_button :sex, false %>
      <%= f.label :sex, 'メス♀', value: false %>
    </div>

  <h4>紹介文</h4>
  <%= f.text_area :introduction %>
  
  <%= f.submit '登録' %>
<% end %>